@import './video.scss';

html {
    body {
        width: 100%;
        height: 100%;
        padding: 0%;
        margin: 0%;
        background-color: rgba(#03244D, 0.9);
    }

    
}
h1 {
    size: 16px;
    background-color: beige;       
}

.main {
    position: relative;
    width: 100%;
    height: 500px;
    margin: 300px 0 0 0;
    size: 16px;
}
.card {
    background: rgba(#03244D, 0.9);
    border: 3px;
    border-color: aquamarine;
}

.card-text {
    opacity: 10.7;
    size: 1.2em;
}
.jumbotron {
    opacity: 0.3;
}

.album{
    background-color: #03244D;
    py-5{
        background-color: #03244D;
        bg-light {
            background-color: #03244D;
       }
    } 
}
    
